In [1]:
import pandas as pd

In [4]:
almacenandoPandas = pd.read_csv("train.csv")

In [8]:
#ESTAMOS MOSTRANDO 2 FILAS CON LA FUNCION HEAD()
almacenandoPandas.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [9]:
#PARA MOSTRAR LA COLUMNAS ESPECIFICAS
#USAREMOS LOS CORCHETES
almacenandoPandas["Id"]

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64

In [10]:
# PARA MOSTRAR DE 2 MAS COLUMNAS
# SE USA DOBLE CORCHETES
almacenandoPandas[["Id","SalePrice"]]

        Id  SalePrice
0        1     208500
1        2     181500
2        3     223500
3        4     140000
4        5     250000
...    ...        ...
1455  1456     175000
1456  1457     210000
1457  1458     266500
1458  1459     142125
1459  1460     147500

[1460 rows x 2 columns]

In [11]:
#PARA CONTAR LOS NUMEROS EN PANDAS
# METODO MEAN()
almacenandoPandas["SalesPrices"].mean()

NameError: name 'almanceandoPandas' is not defined